/* Text colors */
.fds-text-primary {
    color: var(--fds-color-primary) !important;
}
.fds-text-info {
    color: var(--fds-color-info) !important;
}
.fds-text-success {
    color: var(--fds-color-success) !important;
}
.fds-text-danger {
    color: var(--fds-color-danger) !important;
}
.fds-text-warning {
    color: var(--fds-color-warning) !important;
}
.fds-text-body {
    color: var(--fds-text-body) !important;
}
.fds-text-body-secondary {
    color: var(--fds-text-body-secondary) !important;
}
.fds-text-body-tertiary {
    color: var(--fds-text-placeholder) !important;
}

/* Background colors */
.fds-bg-primary {
    background-color: var(--fds-color-primary) !important;
}
.fds-bg-info {
    background-color: var(--fds-color-info) !important;
}
.fds-bg-success {
    background-color: var(--fds-color-success) !important;
}
.fds-bg-danger {
    background-color: var(--fds-color-danger) !important;
}
.fds-bg-warning {
    background-color: var(--fds-color-warning) !important;
}
.fds-bg-text-body {
    background-color: var(--fds-text-body) !important;
}
.fds-bg-text-body-secondary {
    background-color: var(--fds-text-body-secondary) !important;
}
.fds-bg-text-body-tertiary {
    background-color: var(--fds-text-body-tertiary) !important;
}
.fds-bg-white {
    background-color: var(--fds-color-white) !important;
}

/* Border colors */
.fds-border-primary {
    border-color: var(--fds-color-primary) !important;
}
.fds-border-info {
    border-color: var(--fds-color-info) !important;
}
.fds-border-success {
    border-color: var(--fds-color-success) !important;
}
.fds-border-danger {
    border-color: var(--fds-color-danger) !important;
}
.fds-border-warning {
    border-color: var(--fds-color-warning) !important;
}
