.fds-d-flex {
    display: flex !important;
}

.fds-d-grid {
    display: grid !important;
}
.fds-d-inline {
    display: inline !important;
}

.fds-d-inline-block {
    display: inline-block !important;
}

.fds-d-block {
    display: block !important;
}

.fds-d-none {
    display: none !important;
}

.fds-d-table {
    display: table !important;
}

.fds-d-table-row {
    display: table-row !important;
}

.fds-d-table-cell {
    display: table-cell !important;
}
