/* Margin utilities */

/* Margin in all directions */
.fds-m-0 {
    margin: 0 !important;
}
.fds-m-micro {
    margin: var(--fds-spacer-micro) !important;
}
.fds-m-1 {
    margin: var(--fds-spacer-1) !important;
}
.fds-m-2 {
    margin: var(--fds-spacer-2) !important;
}
.fds-m-3 {
    margin: var(--fds-spacer-3) !important;
}
.fds-m-4 {
    margin: var(--fds-spacer-4) !important;
}
.fds-m-5 {
    margin: var(--fds-spacer-5) !important;
}
.fds-m-6 {
    margin: var(--fds-spacer-6) !important;
}
.fds-m-7 {
    margin: var(--fds-spacer-7) !important;
}
.fds-m-auto {
    margin: auto !important;
}

/* Margin-x (left & right) */
.fds-mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.fds-mx-micro {
    margin-left: var(--fds-spacer-micro) !important;
    margin-right: var(--fds-spacer-micro) !important;
}
.fds-mx-1 {
    margin-left: var(--fds-spacer-1) !important;
    margin-right: var(--fds-spacer-1) !important;
}
.fds-mx-2 {
    margin-left: var(--fds-spacer-2) !important;
    margin-right: var(--fds-spacer-2) !important;
}
.fds-mx-3 {
    margin-left: var(--fds-spacer-3) !important;
    margin-right: var(--fds-spacer-3) !important;
}
.fds-mx-4 {
    margin-left: var(--fds-spacer-4) !important;
    margin-right: var(--fds-spacer-4) !important;
}
.fds-mx-5 {
    margin-left: var(--fds-spacer-5) !important;
    margin-right: var(--fds-spacer-5) !important;
}
.fds-mx-6 {
    margin-left: var(--fds-spacer-6) !important;
    margin-right: var(--fds-spacer-6) !important;
}
.fds-mx-7 {
    margin-left: var(--fds-spacer-7) !important;
    margin-right: var(--fds-spacer-7) !important;
}
.fds-mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Margin-y (top & bottom) */
.fds-my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.fds-my-micro {
    margin-top: var(--fds-spacer-micro) !important;
    margin-bottom: var(--fds-spacer-micro) !important;
}
.fds-my-1 {
    margin-top: var(--fds-spacer-1) !important;
    margin-bottom: var(--fds-spacer-1) !important;
}
.fds-my-2 {
    margin-top: var(--fds-spacer-2) !important;
    margin-bottom: var(--fds-spacer-2) !important;
}
.fds-my-3 {
    margin-top: var(--fds-spacer-3) !important;
    margin-bottom: var(--fds-spacer-3) !important;
}
.fds-my-4 {
    margin-top: var(--fds-spacer-4) !important;
    margin-bottom: var(--fds-spacer-4) !important;
}
.fds-my-5 {
    margin-top: var(--fds-spacer-5) !important;
    margin-bottom: var(--fds-spacer-5) !important;
}
.fds-my-6 {
    margin-top: var(--fds-spacer-6) !important;
    margin-bottom: var(--fds-spacer-6) !important;
}
.fds-my-7 {
    margin-top: var(--fds-spacer-7) !important;
    margin-bottom: var(--fds-spacer-7) !important;
}
.fds-my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* Individual margins */
.fds-mt-0 {
    margin-top: 0 !important;
}
.fds-mt-micro {
    margin-top: var(--fds-spacer-micro) !important;
}
.fds-mt-1 {
    margin-top: var(--fds-spacer-1) !important;
}
.fds-mt-2 {
    margin-top: var(--fds-spacer-2) !important;
}
.fds-mt-3 {
    margin-top: var(--fds-spacer-3) !important;
}
.fds-mt-4 {
    margin-top: var(--fds-spacer-4) !important;
}
.fds-mt-5 {
    margin-top: var(--fds-spacer-5) !important;
}
.fds-mt-6 {
    margin-top: var(--fds-spacer-6) !important;
}
.fds-mt-7 {
    margin-top: var(--fds-spacer-7) !important;
}
.fds-mt-auto {
    margin-top: auto !important;
}

.fds-mb-0 {
    margin-bottom: 0 !important;
}
.fds-mb-micro {
    margin-bottom: var(--fds-spacer-micro) !important;
}
.fds-mb-1 {
    margin-bottom: var(--fds-spacer-1) !important;
}
.fds-mb-2 {
    margin-bottom: var(--fds-spacer-2) !important;
}
.fds-mb-3 {
    margin-bottom: var(--fds-spacer-3) !important;
}
.fds-mb-4 {
    margin-bottom: var(--fds-spacer-4) !important;
}
.fds-mb-5 {
    margin-bottom: var(--fds-spacer-5) !important;
}
.fds-mb-6 {
    margin-bottom: var(--fds-spacer-6) !important;
}
.fds-mb-7 {
    margin-bottom: var(--fds-spacer-7) !important;
}
.fds-mb-auto {
    margin-bottom: auto !important;
}

.fds-ms-0 {
    margin-left: 0 !important;
}
.fds-ms-micro {
    margin-left: var(--fds-spacer-micro) !important;
}
.fds-ms-1 {
    margin-left: var(--fds-spacer-1) !important;
}
.fds-ms-2 {
    margin-left: var(--fds-spacer-2) !important;
}
.fds-ms-3 {
    margin-left: var(--fds-spacer-3) !important;
}
.fds-ms-4 {
    margin-left: var(--fds-spacer-4) !important;
}
.fds-ms-5 {
    margin-left: var(--fds-spacer-5) !important;
}
.fds-ms-6 {
    margin-left: var(--fds-spacer-6) !important;
}
.fds-ms-7 {
    margin-left: var(--fds-spacer-7) !important;
}
.fds-ms-auto {
    margin-left: auto !important;
}

.fds-me-0 {
    margin-right: 0 !important;
}
.fds-me-micro {
    margin-right: var(--fds-spacer-micro) !important;
}
.fds-me-1 {
    margin-right: var(--fds-spacer-1) !important;
}
.fds-me-2 {
    margin-right: var(--fds-spacer-2) !important;
}
.fds-me-3 {
    margin-right: var(--fds-spacer-3) !important;
}
.fds-me-4 {
    margin-right: var(--fds-spacer-4) !important;
}
.fds-me-5 {
    margin-right: var(--fds-spacer-5) !important;
}
.fds-me-6 {
    margin-right: var(--fds-spacer-6) !important;
}
.fds-me-7 {
    margin-right: var(--fds-spacer-7) !important;
}
.fds-me-auto {
    margin-right: auto !important;
}
