/* Button specific variables */
:root {
    --fds-btn-size: 2.75rem;
    --fds-btn-size-sm: 2rem;
    --fds-btn-size-lg: 3.5rem;

    --fds-btn-font-size-base: 0.88rem;
    --fds-btn-font-size-sm: 0.62rem;
    --fds-btn-font-size-lg: var(--fds-btn-font-size-base);

    --fds-btn-font-family: var(--fds-font-family-base);
    --fds-btn-font-weight: var(--fds-fw-semibold);
    --fds-btn-line-height: 1;
    --fds-btn-transition: border-color 0.15s ease-in-out,
        color 0.15s ease-in-out;
    --fds-btn-border-width: 2px;
    --fds-btn-focus-width: 0.25rem;
    --fds-btn-focus-shadow: 0 0 0 var(--fds-btn-focus-width);
    --fds-btn-focus-color-primary: var(--fds-color-primary-light-80);
    --fds-btn-focus-color-danger: var(--fds-color-danger-light-80);
    --fds-btn-focus-color-success: var(--fds-color-success-light-80);

    --fds-btn-padding-x: 0.8rem;
    --fds-btn-padding-y: 2rem;
    --fds-btn-padding-x-sm: 0.6rem;
    --fds-btn-padding-y-sm: 1rem;
    --fds-btn-padding-x-lg: 1.25rem;
    --fds-btn-padding-y-lg: 2.5rem;

    --fds-btn-border-radius: var(--fds-radius-2);
    --fds-btn-border-radius-sm: var(--fds-radius-1);
    --fds-btn-border-radius-lg: var(--fds-radius-2);
}

/* Base button styles */
.btn {
    display: inline-block;
    font-family: var(--fds-btn-font-family);
    font-weight: var(--fds-btn-font-weight);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: var(--fds-btn-border-width) solid transparent;
    padding: var(--fds-btn-padding-x) var(--fds-btn-padding-y);
    font-size: var(--fds-btn-font-size-base);
    line-height: var(--fds-btn-line-height);
    border-radius: var(--fds-btn-border-radius);
    transition: var(--fds-btn-transition);
    cursor: pointer;
    background: transparent;
    color: var(--fds-text-body);
}

/* Base button interactions */
.btn:not([class*="btn-primary"]):not([class*="btn-outline-"]):hover {
    border-color: var(--fds-color-info);
    background-color: transparent;
}

.btn:not([class*="btn-primary"]):not([class*="btn-outline-"]):active,
.btn:not([class*="btn-primary"]):not([class*="btn-outline-"]).active,
.btn:not([class*="btn-primary"]):not([class*="btn-outline-"]).is-active {
    border-color: var(--fds-color-info);
    background-color: transparent;
}

.btn:not([class*="btn-primary"]):not([class*="btn-outline-"]):focus,
.btn:not([class*="btn-primary"]):not([class*="btn-outline-"]):focus-visible {
    outline: 0;
    border-color: var(--fds-color-info);
    box-shadow: var(--fds-btn-focus-shadow) var(--fds-color-info-200);
}

.btn:not([class*="btn-primary"]):not([class*="btn-outline-"]):focus:not(
        :focus-visible
    ) {
    box-shadow: none;
}

/* Button sizes */
.btn-sm {
    padding: var(--fds-btn-padding-x-sm) var(--fds-btn-padding-y-sm);
    font-size: var(--fds-btn-font-size-sm);
    border-radius: var(--fds-btn-border-radius-sm);
}

.btn-lg {
    padding: var(--fds-btn-padding-x-lg) var(--fds-btn-padding-y-lg);
    font-size: var(--fds-btn-font-size-lg);
    border-radius: var(--fds-btn-border-radius-lg);
}

.btn-icon-only {
    width: var(--fds-btn-size);
    height: var(--fds-btn-size);
    flex: 0 0 var(--fds-btn-size);
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.btn-sm {
        height: var(--fds-btn-size-sm);
        width: var(--fds-btn-size-sm);
        flex: 0 0 var(--fds-btn-size-sm);
        font-size: var(--fds-btn-font-size-sm);
    }
    &.btn-lg {
        height: var(--fds-btn-size-lg);
        width: var(--fds-btn-size-lg);
        flex: 0 0 var(--fds-btn-size-lg);
        font-size: var(--fds-btn-font-size-lg);
    }
}

/* Solid primary button */
.btn-primary {
    color: var(--fds-color-white);
    background-color: var(--fds-color-primary);
    border-color: var(--fds-color-primary);
}

.btn-primary:hover {
    background-color: var(--fds-color-primary-light-20);
    border-color: var(--fds-color-primary-light-20);
}

.btn-primary.active,
.btn-primary.is-active,
.btn-primary:active {
    background-color: var(--fds-color-primary-dark-20);
    border-color: var(--fds-color-primary-dark-20);
}

.btn-primary:focus,
.btn-primary:focus-visible {
    outline: 0;
    color: var(--fds-color-white);
    background-color: var(--fds-color-primary);
    border-color: var(--fds-color-primary);
    box-shadow: var(--fds-btn-focus-shadow) var(--fds-btn-focus-color-primary);
}

.btn-primary:focus:not(:focus-visible) {
    box-shadow: none;
}

/* Outline primary button */
.btn-outline-primary {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-primary);
}

.btn-outline-primary:hover {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-primary-light-20);
}

.btn-outline-primary.active,
.btn-outline-primary.is-active,
.btn-outline-primary:active {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-primary-dark-20);
}

.btn-outline-primary:focus,
.btn-outline-primary:focus-visible {
    outline: 0;
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-primary);
    box-shadow: var(--fds-btn-focus-shadow) var(--fds-btn-focus-color-primary);
}

.btn-outline-primary:focus:not(:focus-visible) {
    box-shadow: none;
}

/* Disabled state */
.btn:disabled,
.btn.disabled {
    color: var(--fds-color-disabled-dark);
    background-color: var(--fds-color-disabled-light);
    border-color: var(--fds-color-disabled-light);
    pointer-events: none;
}

/* Specific disabled states for outline variant */
.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
    color: var(--fds-color-disabled-dark);
    background-color: transparent;
    border-color: var(--fds-color-disabled-dark);
}

/* Outline danger button */
.btn-outline-info {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-border-color);
}

.btn-outline-info:hover {
    color: var(--fds-text-info);
    background-color: transparent;
    border-color: var(--fds-color-info-light-20);
}

.btn-outline-info.active,
.btn-outline-info.is-active,
.btn-outline-info:active {
    color: var(--fds-text-info);
    background-color: transparent;
    border-color: var(--fds-color-info);
}

.btn-outline-info:focus,
.btn-outline-info:focus-visible {
    outline: 0;
    color: var(--fds-color-info);
    background-color: transparent;
    border-color: var(--fds-color-info);
    box-shadow: var(--fds-btn-focus-shadow) var(--fds-btn-focus-color-info);
}

.btn-outline-info:focus:not(:focus-visible) {
    box-shadow: none;
}

/* Specific disabled states for outline danger variant */
.btn-outline-info:disabled,
.btn-outline-info.disabled {
    color: var(--fds-color-disabled-dark);
    background-color: transparent;
    border-color: var(--fds-color-disabled-dark);
}

/* Outline danger button */
.btn-outline-danger {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-danger);
}

.btn-outline-danger:hover {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-danger-light-20);
}

.btn-outline-danger.active,
.btn-outline-danger.is-active,
.btn-outline-danger:active {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-danger-dark-20);
}

.btn-outline-danger:focus,
.btn-outline-danger:focus-visible {
    outline: 0;
    color: var(--fds-color-danger);
    background-color: transparent;
    border-color: var(--fds-color-danger);
    box-shadow: var(--fds-btn-focus-shadow) var(--fds-btn-focus-color-danger);
}

.btn-outline-danger:focus:not(:focus-visible) {
    box-shadow: none;
}

/* Specific disabled states for outline danger variant */
.btn-outline-danger:disabled,
.btn-outline-danger.disabled {
    color: var(--fds-color-disabled-dark);
    background-color: transparent;
    border-color: var(--fds-color-disabled-dark);
}

/* Outline success button */
.btn-outline-success {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-success);
}

.btn-outline-success:hover {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-success-light-20);
}

.btn-outline-success.active,
.btn-outline-success.is-active,
.btn-outline-success:active {
    color: var(--fds-text-body);
    background-color: transparent;
    border-color: var(--fds-color-success-dark-20);
}

.btn-outline-success:focus,
.btn-outline-success:focus-visible {
    outline: 0;
    color: var(--fds-color-success);
    background-color: transparent;
    border-color: var(--fds-color-success);
    box-shadow: var(--fds-btn-focus-shadow) var(--fds-btn-focus-color-success);
}

.btn-outline-success:focus:not(:focus-visible) {
    box-shadow: none;
}

/* Specific disabled states for outline success variant */
.btn-outline-success:disabled,
.btn-outline-success.disabled {
    color: var(--fds-color-disabled-dark);
    background-color: transparent;
    border-color: var(--fds-color-disabled-dark);
}
