:root {
    --fds-card-bg: var(--fds-color-white);
    --fds-card-border-color: var(--fds-border-card);
    --fds-card-border-radius: var(--fds-radius-1);
    --fds-card-padding: var(--fds-spacer-2);
    --fds-card-header-bg: var(--fds-neutral-gray);
    --fds-card-footer-bg: var(--fds-neutral-gray);
    --fds-card-link-color: var(--fds-color-info);
    --fds-card-link-hover-color: var(--fds-color-info-dark-20);
    --fds-card-border-width: 1px;
    --fds-card-border-style: solid;
    --fds-card-border-color: var(--fds-border-card);
    --fds-card-border-width-active: 2px;
}

/* Card Component */
.fds-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--fds-card-bg);
    background-clip: border-box;
    border: var(--fds-card-border-width) var(--fds-card-border-style)
        var(--fds-card-border-color);
    border-radius: var(--fds-card-border-radius);
}

.fds-card-body {
    flex: 1 1 auto;
    padding: var(--fds-card-padding);
}

.fds-card-title {
    margin-bottom: 0.fds-75rem;
}

.fds-card-subtitle {
    margin-top: -0.fds-375rem;
    margin-bottom: 0;
}

.fds-card-text {
    margin-top: 0;
    margin-bottom: 1rem;
}

.fds-card-link {
    color: var(--fds-card-link-color);
    text-decoration: none;
}

.fds-card-link:hover {
    color: var(--fds-card-link-hover-color);
    text-decoration: underline;
}

.fds-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--fds-card-header-bg);
    border-bottom: 1px solid var(--fds-card-border-color);
}

.fds-card-footer {
    padding: 0.75rem 1.25rem;
    background-color: var(--fds-card-footer-bg);
    border-top: 1px solid var(--fds-card-border-color);
}

.fds-card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.fds-card-img-bottom {
    width: 100%;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
}

.fds-card-deck {
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
    .fds-card-deck {
        flex-direction: row;
        margin-right: -15px;
        margin-left: -15px;
    }
    .fds-card-deck .fds-card {
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }
}
