/* WIP styles */
:root {
    --fds-border-color: #e0e0e0;
    --fds-border-card: var(--fds-border-color);
    --fds-color-neutral-gray: #f5f5f5;
    --fds-color-neutral-white: #fafafa;
    --fds-border-input: #a9a9a9;
    --fds-text-blue: var(--fds-color-info);
    --fds-text-body: #384049;
    --fds-text-body-secondary: #606e7c;
    --fds-text-body-tertiary: #7e8b98;
    --fds-text-placeholder: var(--fds-text-body-tertiary);
    /* Brand primary */
    --fds-color-primary: #0071f1;
    /* Complementary colors */
    --fds-color-complementary: #f18000;
    --fds-color-eye-catcher: #f10071;
    /* Semantics */
    --fds-color-danger: #ff4d4f;
    --fds-color-info: #0091f0;
    --fds-color-success: #00b994;
    --fds-color-warning: #ffbf00;
    --fds-color-disabled-dark: #606e7c;
    --fds-color-disabled-light: #cfd3d9;
    /* Neutral colors */
    --fds-color-white: #ffffff;
    --fds-color-black: #000000;
}
