:root {
    --fds-dropdown-bg-color: var(--fds-color-white);
    --fds-dropdown-text-color: var(--fds-text-body);
    --fds-dropdown-padding: var(--fds-spacer-2);
    --fds-dropdown-border: var(--fds-btn-border-width) solid
        var(--fds-btn-border-color);
    --fds-dropdown-item-bg-hover: var(--fds-neutral-gray);
    --fds-dropdown-item-padding: var(--fds-spacer-1) var(--fds-spacer-2);
    --fds-dropdown-item-text-color: var(--fds-text-body);
    --fds-dropdown-menu-bg-color: var(--fds-color-white);
    --fds-dropdown-menu-shadow: var(--fds-shadow-md);
    --fds-dropdown-menu-min-width: 160px;
    --fds-dropdown-radius: var(--fds-radius-3);

    --fds-label-color: var(--fds-text-body);
    --fds-selected-text-color: var(--fds-text-body);
    --fds-selected-font-family: var(--fds-font-family-base);
    --fds-selected-font-size: var(--fds-font-size-base);
    --fds-selected-font-weight: var(--fds-fw-medium);
    --fds-selected-line-height: var(--fds-form-floating-line-height);

    --fds-caret-width: 0.3em;
    --fds-caret-vertical-align: calc(var(--fds-caret-width) * 0.85);
    --fds-caret-spacing: calc(var(--fds-caret-width) * 0.85);

    --fds-dropdown-menu-border-width: 1px;
    --fds-dropdown-menu-border-style: solid;
    --fds-dropdown-menu-border-color: var(--fds-border-color);
    --fds-dropdown-menu-border-radius: var(--fds-radius-3);
    --fds-dropdown-menu-box-shadow: var(--fds-shadow-xl);

    --fds-dropdown-height: var(--fds-form-floating-total-height);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: var(--fds-dropdown-bg-color);
    color: var(--fds-dropdown-text-color);
    padding: var(--fds-dropdown-padding);
    border: var(--fds-dropdown-border);
    cursor: pointer;
    border-radius: var(--fds-dropdown-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle:focus {
    border-color: var(--fds-input-focus-border-color);
    box-shadow: var(--fds-focus-ring-box-shadow);
    outline: none; /* Rimuove il contorno predefinito */
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 1rem; /* Regola la larghezza in base alla tua immagine */
    height: 1rem; /* Regola l'altezza in base alla tua immagine */
    background-image: var(
        --fds-floating-background-image
    ); /* Sostituisci con l'URL dell'immagine del caret */
    background-size: var(--fds-select-bg-size);
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: var(
        --fds-floating-padding-x
    ); /* Spazio tra il testo e il caret */
    transform: rotate(0deg); /* Puoi ruotare l'immagine se necessario */
}

.dropdown-toggle.dropdown-menu-visible {
    border-color: var(--fds-input-focus-border-color);
    outline: 0;
    box-shadow: var(--fds-input-box-shadow-focus);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--fds-dropdown-menu-bg-color);
    box-shadow: var(--fds-dropdown-menu-box-shadow);
    z-index: 1;
    width: 100%;
    min-width: var(--fds-dropdown-menu-min-width);
    border-radius: var(--fds-dropdown-menu-border-radius);
    margin-top: var(--fds-spacer-micro);
    overflow: hidden;
    border: var(--fds-dropdown-menu-border-width)
        var(--fds-dropdown-menu-border-style)
        var(--fds-dropdown-menu-border-color);
}

.dropdown-menu.show {
    display: grid;
    grid-template: auto 1fr auto/auto;
}

.dropdown-menu.show + .dropdown-toggle {
    border-color: var(
        --fds-input-border-focus-color
    ); /* Colore del bordo in stato di focus */
    box-shadow: var(--fds-input-box-shadow-focus); /* Ombra in stato di focus */
    outline: none; /* Rimuove il contorno predefinito */
}

.dropdown-menu .dropdown-menu-header,
.dropdown-menu .dropdown-menu-footer {
    position: sticky;
    background-color: var(--fds-dropdown-bg-color);
    padding: var(--fds-dropdown-padding);
    z-index: 2; /* Assicurati che l'header sia sopra il contenuto scrollabile */
}

.dropdown-menu .dropdown-menu-header {
    top: 0;
    border-bottom: 1px solid var(--fds-border-color);
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 0;
    }
}

.dropdown-menu .dropdown-menu-footer {
    bottom: 0;
    border-top: 1px solid var(--fds-border-color);
}

.dropdown-menu .dropdown-menu-body {
    overflow-y: auto; /* Abilita lo scroll verticale */
    .list-unstyled {
        margin-top: var(--fds-spacer-2);
        list-style: none !important;
    }
}

.dropdown-menu .dropdown-item {
    padding: var(--fds-dropdown-item-padding);
    text-decoration: none;
    display: block;
    color: var(--fds-dropdown-item-text-color);
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--fds-dropdown-item-bg-hover);
}

.dropdown-input {
    background-color: var(--fds-input-bg-color);
    border: 1px solid var(--fds-input-border-color);
    padding: var(--fds-input-padding-y) var(--fds-input-padding-x);
    border-radius: var(--fds-input-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: var(--fds-dropdown-height);
}

.dropdown-input-titles {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
}

.dropdown-input .form-label-sm {
    color: var(--fds-label-color);
    margin-right: auto;
}

.dropdown-input .selected-item {
    overflow: hidden;
    color: var(--fds-selected-text-color);
    text-overflow: ellipsis;
    font-family: var(--fds-selected-font-family);
    font-size: var(--fds-selected-font-size);
    font-weight: var(--fds-selected-font-weight);
    line-height: var(--fds-selected-line-height);
    pointer-events: none;
}
