:root {
    --fds-focus-ring-width: 0.35rem;
    --fds-focus-ring-opacity: 25%;
    --fds-focus-ring-color: var(--fds-color-primary-light-60);
    --fds-focus-ring-blur: 0rem;
    --fds-focus-ring-box-shadow: 0 0 0 0.1rem #fff,
        0 0 var(--fds-focus-ring-blur) var(--fds-focus-ring-width)
            var(--fds-focus-ring-color);
}
