:root {
    --fds-spacer-micro: 0.25rem;
    --fds-spacer-1: 0.5rem;
    --fds-spacer-2: 1rem;
    --fds-spacer-3: 1.5rem;
    --fds-spacer-4: 2rem;
    --fds-spacer-5: 2.5rem;
    --fds-spacer-6: 4rem;
    --fds-spacer-7: 7.5rem;
}
