:root {
    --fds-font-family-base: "Poppins", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    --fds-font-family-heading: "Poppins", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;

    --fds-font-size-base: 1rem;
    /* Base Font Size (16px) */
    --fds-font-size-sm: 0.8125rem;
    /* Base Font Size (16px) = 13px */
    --fds-font-size-xs: 0.6875rem;
    /* Base Font Size (16px) = 11px */
    --fds-font-size-lg: 1.125rem;

    --fds-fw-lighter: lighter;
    --fds-fw-light: 300;
    --fds-fw-normal: 400;
    --fds-fw-medium: 500;
    --fds-fw-semibold: 600;
    --fds-fw-bold: 700;
    --fds-fw-bolder: bolder;

    --fds-lh-base: 1.5;
    --fds-lh-sm: 1.2;
    --fds-lh-lg: 2;
    --fds-lh-1: 1;

    /* Titles */
    --fds-h1-font-size: 2.19rem;
    --fds-h2-font-size: 1.62rem;
    --fds-h3-font-size: 1.25rem;
    --fds-h4-font-size: 1.12rem;
    --fds-h5-font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--fds-font-family-base);
    font-weight: var(--fds-fw-bold);
    line-height: var(--fds-lh-base);
    color: var(--fds-text-body);
}

/* Specifiche per h1 e .h1 */
h1,
.h1 {
    font-size: var(--fds-h1-font-size);
    line-height: 3.375rem;
    font-weight: var(--fds-fw-bold);
    color: var(--fds-text-body);
}

/* Specifiche per h2 e .h2 */
h2,
.h2 {
    font-size: var(--fds-h2-font-size);
    line-height: 2.25rem;
    font-weight: var(--fds-fw-bold);
    color: var(--fds-text-body);
}

/* Specifiche per h3 e .h3 */
h3,
.h3 {
    font-size: var(--fds-h3-font-size);
    line-height: 1.875rem;
    font-weight: var(--fds-fw-bold);
    color: var(--fds-text-body);
}

/* Specifiche per h4 e .h4 */
h4,
.h4 {
    font-size: var(--fds-h4-font-size);
    line-height: 1.625rem;
    font-weight: var(--fds-fw-bold);
    color: var(--fds-text-body);
}

/* Specifiche per h5 e .h5 */
h5,
.h5 {
    font-size: var(--fds-h5-font-size);
    line-height: 1.5rem;
    font-weight: var(--fds-fw-bold);
    color: var(--fds-text-body);
}

p,
blockquote,
pre,
code,
a,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
label,
select,
option {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--fds-font-family-base);
    font-weight: var(--fds-fw-normal);
    line-height: var(--fds-lh-base);
    /* color: var(--fds-text-body); */
}
