.fds-spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid var(--fds-spinner-border-color, #f3f3f3);
    border-right-color: transparent;
    border-radius: 50%;
    animation: fds-spinner-border 0.75s linear infinite;
}

@keyframes fds-spinner-border {
    100% {
        transform: rotate(360deg);
    }
}

.fds-spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: var(--fds-spinner-grow-color, #000);
    border-radius: 50%;
    opacity: 0;
    animation: fds-spinner-grow 0.75s linear infinite;
}

@keyframes fds-spinner-grow {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* Spinner sizes */
.fds-spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

.fds-spinner-border-lg {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
}

.fds-spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

.fds-spinner-grow-lg {
    width: 3rem;
    height: 3rem;
}
