/* Questo css è per il componente che stilizza i bottoni per settare un valore */
.toolbar-button-control {
    .fds-btn-wrapper {
        display: flex;
        gap: var(--fds-spacer-1);
        .fds-btn:has(img) {
            overflow: hidden;
        }
    }
}
