.fds-dropdown-menu
    .fds-dropdown-item.is-active
    .card
    .card-body
    .card-title::after,
.fds-dropdown-menu .fds-dropdown-item.is-active::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: var(--fds-form-select-indicator);
    background-size: var(--fds-select-bg-size);
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: auto;
    color: var(--fds-form-select-indicator-color);
    float: right;
}

.fds-dropdown-menu .fds-dropdown-item.is-active .fds-card {
    border-color: var(--fds-color-primary);
    border-width: var(--fds-card-border-width-active);
}

.fds-dropdown-menu .fds-dropdown-item .fds-card {
    flex: 1;
}

.fds-dropdown-menu .fds-dropdown-item.is-active:has(.fds-card)::after {
    content: none;
}
